*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #161616;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  padding: 1rem;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.note{
  background-color: rgb(169, 194, 247);
  padding: 10px 40px;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.note:hover{
  transform: scale(1.02);
  cursor: pointer;
}

.create-form{
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}

.create-form input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.create-btn{
  padding: 5px 20px;
  background-color: rgb(35, 106, 35);
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.update-btn{
  padding: 10px 15px;
  background-color: rgb(40, 28, 207);
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-btn{
  padding: 10px 15px;
  background-color: rgb(206, 36, 36);
  color: white;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.update-form{
  margin-block: 1rem;
  display: flex;
  gap: 1rem;
}

.update-form input{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid white;
  background-color: black;
  color: white;
}