*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: #161616;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  padding: 10px;
}

.notes{
  display: flex;
  gap: 10px;
}

.note{
  background-color: rgb(169, 194, 247);
  padding: 10px 40px;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.note:hover{
  transform: scale(1.02);
  cursor: pointer;
}