*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100%;
    width: 100%;
}

html{
    background-color: rgb(21, 21, 21);
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-container{
        height: fit-content;
        min-width: 400px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        form{
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,button{
                outline: none;
                border: none;
                padding-inline: 2rem;
                padding-block: 1rem;
                color: rgb(240, 240, 240);
                border-radius: 1rem;
            }

            input{
                color: black;
            }
            
            button{
                background-color: rgb(17, 163, 221);
                font-weight : 700;
                font-size: large;
                cursor: pointer;
            }
        }

        .toggleAuthForm{
                color: rgb(5, 167, 196);
                text-decoration: none;
                font-weight: 700;
        }
    }