.post-image-label{
    background-color: #f2f2f2;
    color: rgb(41, 41, 41);
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 1rem;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
}